/* --------- styles pour les changement de page --------- */
#pageNav {
  margin : 0;
	padding :	5px 0;	
	text-align : center;
}
.PagePrev {
	width : 20px;
	height : 20px;
	background-image : url("../icons/action/pagneutral.png");
	background-repeat : no-repeat;
	text-align : center;
	font-size : 0.8em;
	font-weight : bold;
}
.PageNext {
	font-size : 0.8em;
	font-weight : bold;
	width : 20px;
	height : 20px;
	text-align : center;
	background-image : url("../icons/action/pagneutral.png");
	background-repeat : no-repeat;
}
.PageActive {
	width : 20px;
	height : 20px;
	background-image : url("../icons/action/pagact.png");
	background-repeat : no-repeat;
	text-align : center;
	font-size : 0.8em;
	font-weight : bold;
}
.PageInactive, .PageNo {
	width : 20px;
	height : 20px;
	background-image : url("../icons/action/paginact.png");
	background-repeat : no-repeat;
	text-align : center;
	font-size : 0.8em;
	font-weight :	bold;
}